# Игнорировать файлы и директории IDE
.idea/
*.iml
*.ipr
*.iws

# Игнорировать файлы macOS
.DS_Store

# Игнорировать директорию сборки CMake
cmake-build-debug/
cmake-build-release/

# Игнорировать временные файлы и логи
*.log
*.tmp
*.swp
*.swo

# Игнорировать системные файлы
Thumbs.db
ehthumbs.db
Desktop.ini

# Игнорировать пользовательские настройки
.vscode/

# Игнорировать все исполняемые файлы
*.exe

# Игнорировать объектные файлы
*.o

# Игнорировать файлы зависимостей
*.d

# Игнорировать файлы с расширением .out (часто используются для исполняемых файлов в Linux)
*.out

# Игнорировать файлы с расширением .a (статические библиотеки)
*.a

# Игнорировать файлы с расширением .so (динамические библиотеки)
*.so

# Игнорировать файлы с расширением .dll (динамические библиотеки в Windows)
*.dll

# Игнорировать файлы с расширением .lib (статические библиотеки в Windows)
*.lib

# Игнорировать папку build (если вы используете её для сборки)
/build/

# Игнорировать папку bin (если вы используете её для хранения исполняемых файлов)
/bin/

# Игнорировать папку obj (если вы используете её для хранения объектных файлов)
/obj/

# Игнорировать папку Debug и Release (если вы используете Visual Studio)
/Debug/
/Release/